* {
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* Занимает 100% высоты экрана */
    width: 100vw;
}
.jquery-accordion-menu a {
    display: block; /* Чтобы ссылка занимала всю ширину */
    padding: 10px; /* Отступы для удобства */
    color: #333; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
}

.jquery-accordion-menu a:hover {
    background-color: #f0f0f0; /* Цвет фона при наведении */
}
/* Стили для мобильных устройств (ширина меньше 600px) */
@media (max-width: 600px) {
    body {

    }
}

/* Стили для планшетов (ширина от 601px до 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
    body {

    }
}

.hidden{
    display: none;
}

.main-footer {
    background-color: #fff;
    border-top: 1px solid #dee2e6;
    color: #869099;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width:100%;
}

/* Стили для десктопов (ширина больше 1024px) */
@media (min-width: 1025px) {
    body {

    }
}

@media (max-width: 1100px) {
    .main-footer {

        bottom: auto!important;
    }
}

.fa-edit{
    margin-left: 5px;
    color: green;
}

.fa-trash{
    color: orange;
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media (max-width: 1800px) {
    table {
        font-size: 10px !important;
        width: 77vw !important;
    }
    td div {
        font-size: 9px !important;
    }

    .button{
        font-size: 9px !important;
    }
}


.toast {
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    position: fixed !important;
}

