* {
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* Занимает 100% высоты экрана */
    width: 100vw;
}

/* Стили для мобильных устройств (ширина меньше 600px) */
@media (max-width: 600px) {
    body {

    }
}

/* Стили для планшетов (ширина от 601px до 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
    body {

    }
}

.main-footer {
    background-color: #fff;
    border-top: 1px solid #dee2e6;
    color: #869099;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width:100%;
}

/* Стили для десктопов (ширина больше 1024px) */
@media (min-width: 1025px) {
    body {

    }
}

@media (max-width: 1100px) {
    .main-footer {

        bottom: auto!important;
    }
}


.sidebar-item {
    position: relative; /* Для позиционирования подменю */
    padding: 10px; /* Отступы для пункта меню */
    background-color: #f8f9fa; /* Цвет фона */
    border-radius: 5px; /* Скругленные углы */
    transition: background-color 0.3s; /* Плавный переход цвета */
}

.sidebar-item:hover {
    background-color: #e2e6ea; /* Цвет фона при наведении */
}

.submenu li .sidebar-link {
    font-size: 16px !important;
}

.submenu {
    display: none; /* Скрываем подменю по умолчанию */
    position: absolute; /* Позиционирование подменю */
    left: 15%; /* Появление снизу */
    top: 100%; /* Выравнивание по низу родительского элемента */
    margin-top: 5px; /* Отступ сверху, чтобы подменю не накладывалось на родительский элемент */
    background-color: white; /* Цвет фона подменю */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень для подменю */
    border-radius: 5px; /* Скругленные углы */
    z-index: 1000; /* Поверх других элементов */
    opacity: 0; /* Начальная прозрачность */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Плавный переход */
    visibility: hidden; /* Скрываем подменю */
    width: 85%; /* Ширина подменю равна ширине родительского элемента */
}

.sidebar-item:hover .submenu {
    display: block; /* Показываем подменю при наведении */
    opacity: 1; /* Делаем подменю видимым */
    visibility: visible; /* Делаем подменю видимым */
    margin-top: 0; /* Убираем отступ сверху при появлении */
}

.submenu li {
    padding: 10px; /* Отступы для элементов подменю */
}

.submenu li a {
    text-decoration: none; /* Убираем подчеркивание */
    color: #333; /* Цвет текста подменю */
    display: block; /* Занимает всю ширину */
}

.submenu li a:hover {
    background-color: #e2e6ea; /* Цвет фона при наведении на элементы подменю */
}