#myUL li a {

    border: 1px solid #ddd;
    margin-top: 15px;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

.card {
    margin-top: 15px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    cursor: pointer;
    height: 85px;
    background-size: cover;
    background-attachment: fixed;
    padding-left: 20px;
    justify-content: center;
    color: black;
    transition: all 0.5s ease-in;
}

.activecard1 {
    background-color: #c6d1dd;
}

.activeOrg{
    background-color: #c6d1dd !important;
}

th{
    width: auto !important;
}

td div{
    font-size: 12px !important;
}

td {
    text-align: center;
    word-break: break-word;
    width: auto !important;
}

#myUL li a:hover {
    cursor: pointer;
    background-color: #c6d1dd;
}

#myInputOrg {
    width: 100%;
    padding: 3px;
    margin: 15px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    background-color: #f8f8f8;
}

#myInputOrg:focus {
    outline: none;
    border-color: #66afe9;
}

.modal-title{
    color:#9d9999 !important;
}


#contMenu {
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    width: 200px;
    position: absolute;
}

#contMenu a {
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    color: #333;
    border-radius: 3px;
    transition: background-color 0.3s;
}

#contMenu a:hover {
    background-color: #ddd;
}


label {
    display: block; /* Каждая метка на новой строке */
    margin-top: 20px; /* Отступ сверху для разделения */
    color: #333; /* Цвет текста метки */
    font-size: 16px; /* Размер шрифта метки */
}

input[type="date"],
input[type="number"],
input[type="text"] {
    width: 100%; /* Полная ширина контейнера */
    padding: 10px; /* Внутренний отступ */
    margin-top: 5px; /* Отступ сверху */
    border: 1px solid #ccc; /* Граница */
    border-radius: 4px; /* Скругление углов */
}



button[type="submit"]:hover {
    background-color: #45a049; /* Темно-зеленый цвет при наведении */
}

/* Стили для модального окна */
.modal-content {
    border-radius: 5px; /* Скругление углов модального окна */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Тень для модального окна */
}

.modal-header,
.modal-footer {
    padding: 16px 20px; /* Внутренний отступ для шапки и подвала модального окна */
    text-align: right; /* Выравнивание текста и кнопок справа */
    border-bottom: 1px solid #e5e5e5; /* Граница под шапкой */
}

.modal-header {
    border-bottom: none; /* Убираем границу у шапки */
}

.modal-title {
    margin: 0; /* Убираем внешние отступы у заголовка */
    line-height: 1.5; /* Межстрочный интервал для заголовка */
}

/* Стили для кнопки закрытия */
.btn-close {
    color: #aaaaaa; /* Цвет иконки закрытия */
}

.btn-close:hover,
.btn-close:focus {
    color: #777; /* Цвет иконки закрытия при наведении/фокусе */
    text-decoration: none;
    cursor: pointer;
}
#btnsGroup{
    margin-top: 15px;
}
.overlay {
    position: fixed; /* Центрирование относительно экрана */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.95); /* Легкий прозрачный фон */
    padding-top: 30px; /* Увеличенные отступы внутри блока */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Более глубокая тень для объема */
    z-index: 1000;
    width: 80%; /* Задать ширину в процентах экрана */
    max-width: 600px; /* Ограничить максимальную ширину */
    border-radius: 15px; /* Закругленные углы */
    text-align: center; /* Центрирование текста */
    font-size: 1.2rem; /* Увеличение размера текста */
    color: #333; /* Цвет текста */
}

.overlay-content {
    margin-bottom: 20px; /* Отступ снизу от текста для GIF */
}

.overlay-gif {
    max-width: 50%; /* Масштабирование GIF по ширине блока */
    border-radius: 10px; /* Закругление углов у GIF */
}

#filterContainer {
    margin-bottom: 20px;
    width: 99%;
    margin-top: 10px;
    /*padding: 10px;*/
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-wrap: wrap; /* Позволяет полям переноситься на следующую строку */
    align-items: center; /* Выравнивание по центру по вертикали */
}

#filterContainer label {
    /*margin: 5px 10px 25px 25px;*/
    font-weight: bold;
    white-space: nowrap;
}

#filterContainer select,
#filterContainer input[type="date"] {
    width: 80%; /* Четыре поля в строке с отступами */
    padding: 5px;
    margin-right: 10px; /* Отступ между полями */
    margin-bottom: 5px; /* Уменьшенный отступ снизу */
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; /* Учитывать padding и border в общей ширине */
    height: 30px; /* Уменьшенная высота */
}

#filterContainer select:nth-child(4n),
#filterContainer input[type="date"]:nth-child(4n) {
    margin-right: 0; /* Убираем отступ справа для каждого четвертого элемента */
}

#filterContainer select:focus,
#filterContainer input[type="date"]:focus {
    border-color: #007bff; /* Цвет рамки при фокусе */
    outline: none; /* Убираем стандартное обрамление */
}
.filtCol{
    display:flex;
}

#right_section{
    overflow: auto;
    height: 85vh;
    min-width: 260px;
    float: left;
    position: relative;
    box-shadow: 0 4px 40px #96d1e1;
}

#right_section::-webkit-scrollbar {
    visibility: hidden;
    width: 0px;
}

th{
    text-align: center;
    vertical-align: middle;
}

.zaehal{
    transform: translateX(500px);
}

.viehal{
    transform: translateX(0px);
}
.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    z-index: 10000;
    animation: fadeIn 0.5s;
}
.popup-content-serviceman{
    background: linear-gradient(135deg, #ffffff, #e0e0e0);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 500px; /* уменьшение ширины в 2 раза */
    position: fixed;
    top: 55%; /* сдвигаем чуть ниже центра */
    left: 49.7%;
    transform: translate(-50%, -30%);
    animation: slideIn 0.5s forwards;
}
.close {
    color: #888;
    float: right;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: #ff4c4c;
    text-decoration: none;
}
h2 {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin-bottom: 15px;
    border-bottom: 2px solid #ff4c4c;
    padding-bottom: 10px;
}
p {
    font-family: 'Arial', sans-serif;
    color: #555;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 15px;
}.button {
     background-color: #ff4c4c;
     color: white;
     border: none;
     border-radius: 5px;
     padding: 10px 20px;
     font-size: 16px;
     cursor: pointer;
     margin-top: 20px;
     transition: background-color 0.3s;
 }
.button:hover {
    background-color: #e63946;
}
.styled-select {
    width: 200px; /* Задаём ширину */
    padding: 10px; /* Внутренние отступы */
    font-size: 16px; /* Размер шрифта */
    border: 2px solid #007bff; /* Цвет границы */
    border-radius: 8px; /* Скругляем углы */
    background-color: #f8f9fa; /* Цвет фона */
    color: #343a40; /* Цвет текста */
    outline: none; /* Убираем стандартную обводку при фокусе */
    transition: all 0.3s ease; /* Анимация на изменение */
    appearance: none; /* Убираем стандартные стрелочки браузера */
    -webkit-appearance: none; /* Для Safari */
    -moz-appearance: none; /* Для Firefox */
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="#007bff" d="M2 0L0 2h4z"/></svg>'); /* Иконка стрелки */
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.styled-select:focus {
    border-color: #0056b3; /* Цвет границы при фокусе */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Тень при фокусе */
}

label {
    font-size: 16px; /* Размер шрифта для лейбла */
    color: #343a40; /* Цвет текста лейбла */
    margin-right: 10px;
    display: block;
    margin-bottom: 8px;
}

.hover-reg-num:hover{
    background-color: lightgray;
    color: black;
}

